<% @club.comments.each do |comment| %>
 <div class="comment-container">
    <div class="flex-container-img split">
    <%= cl_image_tag comment.user.photo ,  height: 70, width: 70, crop: :thumb ,class: "img-circle" %>
    </div>
     <div class="flex-container-content split">
      <h5><strong><%= comment.user.name_string %></strong></h5>
      <p><%= comment.content %></p>
    </div>

  </div>
<% end %>

  <%= simple_form_for [@club, @comment] do |f| %>
    <%= f.input :content %>
    <%= f.submit "add a comment", class: "btn btn-primary" %>
  <% end %>
