<div class="my-container">

    <div class="flex-container">

      <% @clubs.each_with_index do |club, index| %>

        <div id="club<%= club.id %>" class="club-card border-bottom <%= 'enlarge' if index == 0 %>"
          style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)),
               url('<%= cl_image_path club.photo, crop: :fill %>')">

          <%= link_to club_path(club.id) do %>

          <h2><%= club.name %></h2>
          <% end %>
        </div>

      <% end %>
    </div>
</div>
<script>
  const allClubCards = $(".club-card");
  document.addEventListener('scroll', (event) => {
    const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
    allClubCards.forEach((card) => {
      let rect = card.getBoundingClientRect();
      let top = rect.top
      console.log(top)
      if(top < (415) && top > (115)) {
        card.classList.add("enlarge")
      } else {
        card.classList.remove("enlarge")
      }
    });

    if ( scrollTop <= 20 ) {
      allClubCards[0].classList.add('enlarge');
      allClubCards[1].classList.remove('enlarge');

    } else {
      allClubCards[0].classList.remove('enlarge')
    }
    if ((scrollTop + 736.3) > document.querySelector(".my-container").offsetHeight) {
      allClubCards[allClubCards.length - 1].classList.add('enlarge');
      allClubCards[allClubCards.length - 2].classList.remove('enlarge');

    } else {
      allClubCards[allClubCards.length - 1].classList.remove('enlarge');
    }
  });



</script>
