
<%= cl_image_tag @club.photo , class: "center-img", crop: :fill %>
<div id='club-header'>
  <h1 class="padding-show-h1 text-white padding-left"><strong><%= @club.name  %></strong></h1>
  <div class="club-rating">
  <%= 4.times do %>
  <%= image_tag 'clubxp-fire.svg'%>
  <% end %>
  </div>
  </div>
<div class="text-gold padding-left">
<%= link_to "Map to club", clubs_path , class:"text-gold" %>
</div>


  <ul class="nav nav-tabs">
    <li class="active"><a href="#comments" data-toggle="tab">live feed</a></li>
    <li><a href="#videos" data-toggle="tab">streams</a></li>
    <li><a href="#description" data-toggle="tab">details</a></li>
  </ul>

<i class="fas fa-comment"></i>

  <div class="tab-content">

    <div class="tab-pane fade in active"  id="comments">
      <%= render "comments" %>
    </div>

    <div class="tab-pane" id="videos">
      <%= render "videos" %>
    </div>

    <div class="tab-pane" id="description">
        <%= render "descriptions" %>
    </div>

  </div>








