<div class="avatar-info-container">
  <div class="avatar-img">
    <%= cl_image_tag @user.photo ,  height: 100, width: 100, crop: :thumb ,class: "img-circle" %>
  </div>
  <div class="user-info">
    <h2><%= @user.name_string %></h2>
    <%= link_to "logout", destroy_user_session_path, method: :delete%>

  </div>
</div>

<br>


  <ul class="nav nav-tabs">
    <li class="active"><a href="#favorites" data-toggle="tab">favorites</a></li>

    <li><a href="#videos" data-toggle="tab">videos</a></li>

    <li><a href="#history" data-toggle="tab">history</a></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane fade in active"  id="favorites">
      <%= render "favorites" %>
    </div>

    <div class="tab-pane" id="videos">
      <%= render "videos" %>
    </div>

    <div class="tab-pane" id="history">
        <%= render "history" %>
    </div>

  </div>

