<div class="navbar-club_xp">
  <!-- Logo -->

  <a href="javascript:history.back()"><i class="fas fa-chevron-left"></i></a>


  <!-- Right Navigation -->
  <div class="navbar-club_xp-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Host", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Trips", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Messages", "#", class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-club_xp-item">
        <div class="dropdown">
          <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-club_xp-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-club_xp-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-club_xp-item navbar-club_xp-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <% if controller_name == "clubs" && action_name == "show" %>
    <i class="far fa-heart"></i>
  <%else%>

    <div class="navbar-club_xp-item hidden-md hidden-lg">
      <div class="dropdown">
        <i data-toggle="dropdown">filter</i>
        <ul class="dropdown-menu dropdown-menu-right navbar-club_xp-dropdown-menu">
          <li><a href="#">recommended for you</a></li>
          <li><a href="#">distance</a></li>
          <li><a href="#">rating</a></li>
          <li><a href="#">most popular</a></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>

