<h3 class="text-white margin-15px-left"><strong>Admissions: </strong></h3>
<br>
<h4 class="text-gold margin-15px-left"><strong><%= @club.name %></strong></h4>
<br>
<h5 class="text-gold margin-15px-left"><strong>Details</strong></h5>
<p class="text-white margin-15px-left">Must be at least 21 years of age</p>
<br>
<p class="text-white margin-15px-left">Must have a VALID ID upon entrance</p>
<br>
<p class="text-white margin-15px-left">Proper Attire will be strictly enforced</p>
<br>
<p class="text-white margin-15px-left">Ladies enter and drink FREE until Midnight</p>

<br>

<div class="entrance-price-container">
  <div class="entrance-label">
    <span class="text-gold middle-fix"><strong>ENTRANCE: </strong></span>
  </div>
  <div class="price-label">
    <span><strong> $<%= @club.price %>.00</strong></span>
  </div>
</div>

<div class="admit-btn-container">
  <div class="admit-amount-container">
      <%= simple_form_for ([@club, @admission]) do |f|%>
      <%= f.submit "ADMIT" , class: "admit-btn"%>
      <% end %>
    <div class="admit-amount">
      <ul>
        <h4>one</h4>
        <!-- <h4>two</h4>
        <h4>three</h4>
        <h4>four</h4>
        <h4>five</h4> -->
      </ul>
    </div>
  </div>
  <div class="select-btn-container">
    <div class="btns">
      <div class="up-btn">
        <i class="fas fa-sort-up up-btn"></i>
      </div>
      <div class="dwn-btn">
        <i class="fas fa-sort-down dwn-btn"></i>
      </div>
    </div>
  </div>
</div>
<div class="checkout-container">
  <%= simple_form_for ([@club, @admission]) do |f|%>
  <%= f.submit "CHECKOUT" , class: "checkout-btn"%>
  <% end %>
</div>
