<!DOCTYPE html>
<html>
  <head>
    <title>ClubXP | find your next party</title>
    <%= favicon_link_tag  %>
     <meta property="og:title" content="ClubXP | find your next party">
  <meta property="og:image" content="https://res.cloudinary.com/nohat007/image/upload/c_crop,h_630,w_1200/v1552061242/clubxpgg.jpg">
  <meta property="og:description" content="Club XP is there to help you, find the right club by giving you access from live update from inside the club!!! + more features">
  <meta property="og:url" content="https://dashboard.heroku.com/apps"/>
  <meta property="og:type" content="website"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CLUB XP</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <script src="https://firekast.io/sdk/js/latest/firekast.min.js"></script>
  </head>
  <body id="<%= controller_name %>-<%=action_name%>">
    <% if controller_name == "clubs" && action_name == "show" %>
      <%= render 'shared/navbar' %>
    <% else %>
      <%= render 'shared/navbar' %>
    <% end %>

    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>

  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
</html>
